<div class="container">
  <h1>Top Hunts Tracker</h1>
  <h4>What it took to get into the Product Hunt email digest.</h4>
  <div class="row">
    <div class="col-xs-3 col-sm-2">Email Date</div>
    <div class="col-xs-1">Rank</div>
    <div class="col-xs-3">Product</div>
    <div class="col-xs-2">Email Upvotes</div>
    <div class="col-xs-2">Email Comments</div>
  </div>
  <%- products = Product.all %>
  <%= render partial: 'product', collection: products %>
</div>
